*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Bloop
.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea
.idea/
*.iml
*.ipr

# Mac
.DS_Store

ignore

scripts/tmp
ignored/

.java-version

.metals
.vscode
